{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class = container>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				
				<form method = "POST">
					<h3 style="text-align: center;">Shipping Address</h3>
					<hr/>
					
					{% csrf_token %}

					{{ form|crispy }}

        
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>

				{% for item in items%}
				<div class="cart-row cart_display" data-quantity="{{item.quantity}}">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>&#8377;{{item.product.price}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor%}
				<h5> <strong>Items:</strong>{{order.get_cart_items}}</h5>
				<h5><strong>Total:</strong>&#8377;{{order.get_cart_total}}   </h5>
			</div>
		</div>
	</div>
</div>
<script>
	var cart_display = document.getElementsByClassName('cart_display')
	
	for(var i=0; i<cart_display.length; i++){
		if(cart_display[i].dataset.quantity == 0){
		cart_display[i].style.display="none"
		}
	}
	
</script>

{% endblock content %}