{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- refer: https://getbootstrap.com/docs/4.5/layout/grid/#row-columns -->

    <div class = container style="position: relative;"> 
        <!--Code for filter-->
        

        <!--Code for search bar-->
        <div>
        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for products">
       
        <ul id="myTable" >

            {% for product in products %}
            <li 
            id = "product_list"
            style="display:none"
            data-product_id={{product.id}}
            data-image="{{product.imageURL}}" 
            data-product_name=" {{product.name}} " 
            data-product_description="{{product.description}}" 
            data-product_price = {{product.price}}
            class="list-group-item pop_button" 
            onclick="togglePopup()" 
            >{{product.name}}</li> 
            {% endfor %}
          </ul>           
          </div>

        <!--end-->

        
        
        <br>
        <div id="product_view" class = "row justify-content-md-center bg-change" onmouseover="clearSearch()">
            
           
            {% for product in products %}
            
            
            <div class = "col-lg-4 product" data-product_name="{{product.name}}" >
                
                <img class = "thumbnail" src="{{product.imageURL}}">
                <div class = "box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>

                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    
                    <!--Code for view giving product details in popup box-->
                    <button data-product_id={{product.id}}
                            data-image="{{product.imageURL}}" 
                            data-product_name=" {{product.name}} " 
                            data-product_description="{{product.description}}" 
                            data-product_price = {{product.price}}
                            class="btn btn-outline-success pop_button" 
                            onclick="togglePopup()">
                                View
                    </button>
                    <!--End-->

                    <h4 style="display: inline-block; float:right">
                        <strong>&#8377;{{product.price|floatformat:0}}</strong>
                    </h4>

                   
                </div>
            </div> 
            
            
            {% endfor %}
    

        </div>
    </div>

    <script>
        function clearSearch() {
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {  
                li[i].style.display="none";
            }
        }
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myTable");
          li = ul.getElementsByTagName("li");
          
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {                
              txtValue = li[i].textContent && li[i].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
              } else {
                li[i].style.display = "none";
              }
            }
            
          }
        
        </script>
   
    
    {% endblock content %}
